$primary-color: #333533;
$secondary-color: #fff;
$third-color: #999a99; // 회색 추가
$deep-black: #0b0b0b;
$red: #ff5e5e;
$yellow: #ffe66b;
$pink: #f19ec2;
$blue: #8ad0e2;
$green: #b5d681;
$purple: #aa8abd;
$chat-yellow: #fff462;
$modal-bg: rgba(51, 53, 51, 50%);
$active-color: #2672ff;

/* header **/
$header-height: 80px;
$header-horizontal-padding: 4rem;
