.formInputWrapper {
  & > .formInput {
    position: relative;
    display: flex;
    column-gap: 0.5rem;
    max-width: 580px;

    & > span {
      width: 100px;
      padding-top: 0.5rem;
      font-weight: 500;
    }

    & > div {
      max-width: 426px;
    }

    & > svg {
      align-self: center;
      color: $active-color;
    }
  }

  & .errorMessage {
    display: flex;
    column-gap: 0.25rem;
    align-items: center;
    padding: 0.25rem 0 0 calc(100px + 1rem);
    font-size: 0.875rem;
    font-weight: 600;
    color: $red;
  }
}

.arrayInputWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: flex-end;
  width: 100%;

  & .iconBtn {
    font-size: 1.5rem;
    color: $primary-color;
    cursor: pointer;
    transition: 0.3s;
  }

  & .addBtn {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    padding: 0;
    cursor: pointer;
    background-color: transparent;

    & > span {
      line-height: 1.25rem;
    }

    & .iconBtn {
      font-size: 1.25rem;
    }

    &:hover > .iconBtn {
      color: $active-color;
    }
  }
}

.urlInputWrapper {
  width: 100%;

  & .urlInput {
    position: relative;
    display: flex;
    flex: 1;
    column-gap: 0.5rem;
    align-items: center;

    & .iconBtn:hover {
      color: $red;
    }
  }

  & .errorMessage {
    padding: 0.25rem 0 0 0.5rem;
  }
}
