.tag {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: $primary-color;
  cursor: pointer;
  background: #ededed;
  border-radius: 8px;
}
