.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4rem;
}

.listWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;

  .tab {
    font-size: 1rem;
    color: $third-color;
  }
}

.list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;

  @media (width <= 1000px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (width <= 480px) {
    grid-template-columns: 1fr;
  }
}

.listHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
