.select {
  :global {
    .select__control {
      border-color: #e2e8f0;
      box-shadow: none;

      &:hover {
        border-color: #cbd5e1;
      }

      &--error {
        border-color: red;
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
}

.label {
  font-size: 1.125rem;
  font-weight: 600;
  color: $primary-color;

  @media (width <= 768px) {
    font-size: 0.875rem;
  }
}
