# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*storybook.log

# Lighthouse CI
# .lighthouseci 폴더의 모든 파일 무시
.lighthouseci/*

# 예외 처리: .lighthouseci 폴더 안에 manifest.json 포함
!.lighthouseci/manifest.json

# 예외 처리: .lighthouseci 폴더 자체 포함
!.lighthouseci/
lhci_reports/
.lhci/
.lighthouserc.local.json

tsconfig.tsbuildinfo
/stats.html