.btn {
  padding: 0.625rem;
  cursor: pointer;
  border-radius: 0.5rem;

  &.primary {
    color: $secondary-color;
    background-color: $primary-color;
  }

  &.invert {
    color: $primary-color;
    background-color: $secondary-color;
  }
}
