.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  label {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $primary-color;

    @media (width <= 768px) {
      font-size: 1rem;
    }
  }

  .inputBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    justify-content: center;
    padding: 1rem;
    background: #ededed;
    border-radius: 8px;

    @media (width <= 768px) {
      padding: 0.5rem;
    }
  }

  input {
    width: 100%;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $primary-color;

    @media (width <= 768px) {
      font-size: 0.875rem;
    }
  }
}

.settingWrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  .color {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 4px;
  }

  span {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $primary-color;
    text-align: center;
    letter-spacing: -0.04rem;

    @media (width <= 768px) {
      font-size: 0.875rem;
    }
  }
}

.setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: $primary-color;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;

  .tag {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $primary-color;
    background: #ededed;
    border-radius: 8px;
  }
}

.label {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.guideWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  background-color: $primary-color;
  border-radius: 50%;

  .guide {
    position: absolute;
    top: -0.3rem;
    left: 1.8rem;
    z-index: 3000;
    width: 20rem;
    padding: 0.3rem 0;
    visibility: hidden;
    background-color: white;
    opacity: 0;
    transition: all 0.3s;

    @media (width <= 768px) {
      width: 13rem;
    }
  }

  &:hover .guide {
    visibility: visible;
    opacity: 1;
  }
}

.infoIcon {
  color: $secondary-color;
}
