.author {
  display: flex;
  gap: 1rem;
  align-items: center;

  .profileImg {
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    background-color: $primary-color;
    border-radius: 50%;
    fill: $secondary-color;
  }

  .name {
    font-weight: bold;
  }

  .position {
    color: #666;
  }
}
