.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 4rem 8rem;
}

.markdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 2rem;
}
