.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding: 4rem 8rem;

  @media (width <= 768px) {
    padding: 2rem;
  }
}

.markdown {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
