.wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 4rem 8rem;

  @media (width <= 768px) {
    padding: 2rem;
  }
}

.path {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #848484;
}
