@use 'sass:color';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 20rem;
  padding: 1.8rem;
}

.info {
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  visibility: hidden;

  h3 {
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 50%);
  }

  span {
    width: 100%;
    overflow: hidden;
    line-height: 1.875rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-orient: vertical;
  }
}

.date {
  z-index: 10;
  visibility: hidden;
}

.contents {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 1.6rem;
  color: $secondary-color;
  transition: 0.1s ease-in;
}

.color {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.1s ease-in;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 16rem;
  overflow: hidden;
  background-color: $primary-color;
  border-radius: 10px;

  .thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .noThumbnail {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
  }

  &:hover {
    .info,
    .date {
      visibility: visible;
      opacity: 1;
    }

    .contents {
      backdrop-filter: blur(10px);
      opacity: 1;
    }

    .thumbnail,
    .noThumbnail {
      filter: brightness(0.3);
    }

    .color {
      visibility: visible;
      opacity: 1;
    }

    cursor: pointer;
  }
}

.red {
  background-color: rgba(color.mix($red, #fff, 60%), 0.4);
}

.yellow {
  background-color: rgba(color.mix($yellow, #fff, 60%), 0.4);
}

.blue {
  background-color: rgba(color.mix($blue, #fff, 60%), 0.4);
}

.green {
  background-color: rgba(color.mix($green, #fff, 60%), 0.4);
}

.purple {
  background-color: rgba(color.mix($purple, #fff, 60%), 0.4);
}

.heart {
  position: absolute;
  right: 1.6rem;
  bottom: 1.6rem;
  z-index: 30;
  font-size: 1.6rem;
  color: rgb(255, 136, 130);
  text-shadow: '0 0 2px black';
  cursor: pointer;
}
