.container {
  width: 100%;
  max-width: 1340px;
  min-height: 100vh;
  padding: 0 1rem;
  margin: 0 auto;

  form {
    width: 100%;
  }
}

.h1 {
  margin-top: 4rem;
  margin-bottom: 2.5rem;
  font-size: 1.875rem;
  font-weight: 700;
  color: $primary-color;
  text-align: center;

  @media (width <= 768px) {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}

.h2 {
  margin-top: 4rem;
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: $primary-color;
  text-align: center;

  @media (width <= 768px) {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
  }
}

.section {
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.btnCon {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}
