.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  width: 100%;

  @media (width <= 768px) {
    gap: 1.5rem;
  }
}

.tabList {
  display: flex;
  gap: 1.5rem;
  width: 100%;

  li {
    position: relative;
    padding: 0.8rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $primary-color;
    text-align: center;
    cursor: pointer;

    &::after {
      position: absolute;
      bottom: -0.25rem;
      left: 0;
      display: block;
      width: 0;
      height: 0.125rem;
      content: '';
      background-color: $primary-color;
      border-radius: 0.5rem;
      transition: width 0.3s ease;
    }

    &.active::after {
      width: 100%;
    }
  }
}
