.modalDialogLayout {
  width: 100%;
  max-width: 500px;
  height: 700px;
  max-height: 100svh;
  background-color: $primary-color;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatList {
  flex: 1;
  overflow-y: auto;
}

.chatContent {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}
