.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100dvw;
  height: $header-height;
  padding: 0 4rem;

  @media (width <= 768px) {
    padding: 0 2rem;
  }

  /* Logo **/
  & .logo {
    position: relative;
    font-size: 0.1rem;

    & > span {
      position: absolute;
      top: 0;
      left: 0;
      color: transparent;
    }

    & svg {
      fill: $primary-color;
    }
  }

  /* Nav **/
  & .gnbWrapper {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    max-width: 50%;
  }

  & .gnb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    & .navDot {
      display: block;
      width: 0.5rem;
      height: 0.5rem;
      background-color: $primary-color;
      border-radius: 50%;
    }

    /* nav-link **/
    & a {
      position: relative;
      font-size: 1.25rem;
      font-weight: bold;

      @media (width <= 768px) {
        font-size: 1rem;
      }
    }

    & a::after {
      position: absolute;
      bottom: -0.25rem;
      display: block;
      width: 0;
      height: 0.125rem;
      color: $secondary-color;
      content: '';
      background-color: $primary-color;
      border-radius: 0.5rem;
      transition: 0.3s;
    }

    & a.active::after {
      width: 100%;
    }
  }

  /* User Menu **/

  & .userMenu {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-basis: 1;
    column-gap: 3rem;
    align-items: center;
  }
}

.button {
  color: $primary-color;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    transform: scale(0.8);
  }
}

.heart {
  &:hover {
    color: $red;
  }
}

.mobileBtns {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.searchWrapper {
  position: absolute;
  top: $header-height;
  right: 0;
  display: flex;
  width: 30%;
}

.bell {
  transition: 0.3s ease;

  &:hover {
    animation: bellRing 0.9s both;
  }

  @keyframes bellRing {
    0%,
    100% {
      transform-origin: top;
    }

    15% {
      transform: rotateZ(10deg);
    }

    30% {
      transform: rotateZ(-10deg);
    }

    45% {
      transform: rotateZ(5deg);
    }

    60% {
      transform: rotateZ(-5deg);
    }

    75% {
      transform: rotateZ(2deg);
    }
  }
}
