.container {
  width: 100%;
  padding-top: 2rem;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-8px) scale(1.02);
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cardHeader {
  position: relative;
  width: 100%;
  height: 18.75rem;
  overflow: hidden;
}

.cardImg {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #afafaf;
    border-radius: 12px;
    fill: $primary-color;
    transition: transform 0.3s ease;
  }
}

.cardFooter {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0 0.5rem;
}

.firstInfo {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  color: $primary-color;
}

.name {
  font-size: 1.25rem;
  font-weight: 600;
  color: $primary-color;
}

.job {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 500;
  color: $primary-color;
}

.introduction {
  display: -webkit-box;
  overflow: hidden;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #afafaf;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  word-break: break-word;
  -webkit-box-orient: vertical;
}

.container:hover .cardImg img {
  transform: scale(1.05);
}

.userLinks {
  display: flex;
  gap: 1rem;
}
