.container {
  position: absolute;
  top: $header-height;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 320px;
  height: 12rem;
  padding: 1rem 2rem;
  overflow-x: scroll;
  background-color: $secondary-color;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 10%);

  &::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ededed;
    border-radius: 12px;
  }
}
