.switch {
  position: relative;
  display: inline-block;
  width: 3.2rem;
  height: 1.8rem;
}

.switch input {
  display: none;
  width: 0;
  height: 0;
  opacity: 0;
}

.slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  background-color: $primary-color;
  border-radius: 30px;
  transition: 0.2s;
}

.slider::before {
  position: absolute;
  bottom: 0.2rem;
  left: 0.2rem;
  width: 1.4rem;
  height: 1.4rem;
  content: '';
  background-color: #aeaaae;
  border-radius: 20px;
  transition: 0.4s;
}

input:checked + .slider::before {
  background-color: $primary-color;
  transform: translateX(1.5rem);
}

input:checked + .slider {
  background-color: #d4d4d4;
}

input:focus + .slider {
  box-shadow: 0 0 1px $secondary-color;
}
